<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<title>Danh sách dịch vụ</title>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
</head>
<body>

<div class="p-3">
    <h2 class="text-center fw-bold text-light my-3">DANH SÁCH DỊCH VỤ</h2>

    <div th:if="${message}">
        <div class="justify-content-center d-flex">
            <div class="alert alert-success alert-dismissible fade show w-50 text-center">
                <strong th:text="${message}"></strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            </div>
        </div>
    </div>

    <nav class="navbar navbar-expand-lg py-0 my-0">
        <div class="container-fluid">
            <a th:href="@{/facility/create}">
                <button class="btn btn-primary btn-outline-secondary btn-sm">
                    <span class="fa-solid fa-house-medical text-light h5 my-auto me-1"></span>
                    <span class="text-light"> Thêm mới dịch vụ</span>
                </button>
            </a>

            <form class="d-flex my-2" role="search" th:action="@{/facility}">
                <input class="form-control me-2" type="text" placeholder="Nhập tên dịch vụ.." aria-label="Search"
                       name="nameSearch">
                <button class="btn btn-light btn-outline-primary" type="submit" name="action" value="search">
                    <i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
        </div>
    </nav>

    <table class="table table-light table-striped table-bordered">
        <tr class="table-dark text-light">
            <th class="text-center"><i class="fa-sharp fa-solid fa-bolt"></i></th>
            <th>Tên dịch vụ</th>
            <th>Diện tích (m<sup>2</sup>)</th>
            <th>Chi phí thuê</th>
            <th>Số người tối đa</th>
            <th>Kiểu thuê</th>
            <th>Loại dịch vụ</th>
            <th class="text-center">Xem</th>
            <th class="text-center">Sửa</th>
            <th class="text-center">Xóa</th>
        </tr>

        <tr th:each="facility, status : ${facilityList}">
            <td class="text-center" th:text="${status.count + facilityList.number * 5}"></td>

            <td th:text="${facility.facilityName}"></td>

            <td th:text="${facility.facilityArea}"></td>

            <td th:text="${'₫ ' + facility.rentCost}"></td>

            <td th:text="${facility.maxPeople}"></td>

            <td th:text="${facility.rentType.rentTypeName}"></td>

            <td th:text="${facility.facilityType.facilityTypeName}"></td>

            <td class="text-center">
                <button th:attr="onclick=|viewFacility('${facility.facilityName}','${facility.facilityArea}','${facility.rentCost}', '${facility.maxPeople}', '${facility.standardRoom}','${facility.descriptionOtherConvenience}', '${facility.poolArea}', '${facility.numberOfFloors}','${facility.facilityFree}','${facility.rentType.rentTypeName}','${facility.facilityType.facilityTypeName}')|"
                        class="btn btn-warning btn-outline-secondary btn-sm" data-bs-toggle="modal"
                        data-bs-target="#viewFacility">
                    <span class="fa-solid fa-circle-question text-light h6 m-auto px-2"></span>
                </button>
            </td>

            <td class="text-center">
                <a th:href="@{/facility/edit/__${facility.facilityId}__}">
                    <button class="btn btn-success btn-outline-secondary btn-sm">
                        <span class="fa-solid fa-house-circle-exclamation text-light h6 m-auto px-2"></span>
                    </button>
                </a>
            </td>

            <td class="text-center">
                <button th:attr="onclick=|deleteFacility('${facility.facilityId}', '${facility.facilityName}')|"
                        class="btn btn-danger btn-outline-secondary btn-sm" data-bs-toggle="modal"
                        data-bs-target="#deleteFacility">
                    <span class="fa-solid fa-house-circle-xmark text-light h6 m-auto px-2"></span>
                </button>
            </td>
        </tr>
    </table>

    <nav aria-label="..." class="justify-content-center d-flex">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" th:href="@{'/facility'(page=${facilityList.number - 1}, nameSearch=${nameSearch})}"
                   th:if="${facilityList.hasPrevious()}">&laquo;</a>
            </li>
            <li class="page-item disabled" th:unless="${facilityList.hasPrevious()}">
                <a class="page-link">&laquo;</a>
            </li>

            <li class="page-item"><a class="page-link" th:href="@{'/facility'(page=${facilityList.number - 1},
            nameSearch=${nameSearch})}" th:if="${facilityList.hasPrevious()}" th:text="${facilityList.number}"></a>
            </li>

            <li class="page-item active">
                <a class="page-link" th:href="@{'/facility'(page=${facilityList.number}, nameSearch=${nameSearch})}"
                   th:text="${facilityList.number + 1}"><span class="sr-only">(trang hiện tại)</span></a>
            </li>

            <li class="page-item"><a class="page-link" th:href="@{'/facility'(page=${facilityList.number + 1},
            nameSearch=${nameSearch})}" th:if="${facilityList.hasNext()}" th:text="${facilityList.number + 2}"></a>
            </li>

            <li class="page-item">
                <a class="page-link" th:href="@{'/facility'(page=${facilityList.number + 1}, nameSearch=${nameSearch})}"
                   th:if="${facilityList.hasNext()}">&raquo;</a>
            </li>
            <li class="page-item disabled" th:unless="${facilityList.hasNext()}">
                <a class="page-link">&raquo;</a>
            </li>
        </ul>
    </nav>
</div>

<div class="modal fade" id="deleteFacility" tabindex="-1" aria-labelledby="exampleModalLabel1"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content modalCSS">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel1">Bạn có chắc chắn muốn xóa?</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <form th:action="@{/facility/delete}">
                <div class="modal-body">
                    <span class="h6">Dịch vụ:</span><strong id="nameDelete" class="text-danger ps-2"></strong>
                    <input type="hidden" name="idDelete" id="idDelete" readonly/>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                    <button type="submit" class="btn btn-danger" value="delete">Xóa</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="viewFacility" tabindex="-1" aria-labelledby="exampleModalLabel1"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content modalCSS">
            <div class="modal-header">
                <h4 class="modal-title text-center" id="exampleModalLabel2">THÔNG TIN DỊCH VỤ</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <table>
                    <tr>
                        <td class="h6 pe-3">Tên dịch vụ:</td>
                        <td id="name" class="text-primary h6"></td>
                    </tr>

                    <tr>
                        <td class="h6 pe-3">Loại dịch vụ:</td>
                        <td id="facilityType" class="text-primary h6"></td>
                    </tr>

                    <tr>
                        <td class="h6 pe-3">Diện tích:</td>
                        <td id="area" class="text-primary"></td>
                    </tr>

                    <tr>
                        <td class="h6 pe-3">Chi phí thuê:</td>
                        <td id="cost" class="text-primary"></td>
                    </tr>

                    <tr>
                        <td class="h6 pe-3">Số người tối đa:</td>
                        <td id="maxPeople" class="text-primary"></td>
                    </tr>

                    <tr>
                        <td class="h6 pe-3">Tiêu chuẩn phòng:</td>
                        <td id="standardRoom" class="text-primary"></td>
                    </tr>

                    <tr>
                        <td class="h6 pe-3">Mô tả tiện nghi khác:</td>
                        <td id="description" class="text-primary"></td>
                    </tr>

                    <tr>
                        <td class="h6 pe-3">Diện tích hồ bơi:</td>
                        <td id="poolArea" class="text-primary"></td>
                    </tr>

                    <tr>
                        <td class="h6 pe-3">Số tầng:</td>
                        <td id="numberOfFloors" class="text-primary"></td>
                    </tr>

                    <tr>
                        <td class="h6 pe-3">Dịch vụ miễn phí đi kèm:</td>
                        <td id="facilityFree" class="text-primary"></td>
                    </tr>

                    <tr>
                        <td class="h6 pe-3">Kiểu thuê:</td>
                        <td id="rentType" class="text-primary"></td>
                    </tr>
                </table>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>

<script>
    function deleteFacility(id, name) {
        document.getElementById("idDelete").value = id;
        document.getElementById("nameDelete").innerText = name;
        debugger
    }

    function viewFacility(name, area, cost, maxPeople, standardRoom, description, poolArea, numberOfFloors,
                          facilityFree, rentType, facilityType ) {
        // console.log(document.getElementById("name"))

        document.getElementById("name").innerText = name;
        document.getElementById("area").innerHTML = area + " (m<sup>2</sup>)";
        document.getElementById("cost").innerText = "₫ " + cost;
        document.getElementById("maxPeople").innerText = maxPeople;

        if (standardRoom === "") {
            document.getElementById("standardRoom").innerText = "-";
        } else {
            document.getElementById("standardRoom").innerText = standardRoom;
        }

        if (description === "") {
            document.getElementById("description").innerText = "-";
        } else {
            document.getElementById("description").innerText = description;
        }

        if (poolArea === "") {
            document.getElementById("poolArea").innerHTML = "-";
        } else {
            document.getElementById("poolArea").innerHTML = poolArea + " (m<sup>2</sup>)";
        }

        if (numberOfFloors === "") {
            document.getElementById("numberOfFloors").innerText = "-";
        } else {
            document.getElementById("numberOfFloors").innerText = numberOfFloors;
        }

        if (facilityFree === "") {
            document.getElementById("facilityFree").innerText = "-";
        } else {
            document.getElementById("facilityFree").innerText = facilityFree;
        }

        document.getElementById("rentType").innerText = rentType;
        document.getElementById("facilityType").innerText = facilityType;
        debugger
    }
</script>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous">
</script>
</html>
