<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Form Edit</title>
</head>
<body>
<h1>Edit Form</h1>
<hr>
<form th:action="@{/category/edit}" method="post" id="blogEditForm" th:object="${categoryEdit}">
    <p>id: <input readonly type="text" th:field="*{id}"></p>
    <p>Name: <input type="text" th:field="*{name}" ></p>

    <input type="submit" value="Edit">
    <button><a href="/category/list" style="text-decoration: none; color: black">Back</a></button>
</form>

</body>
</html>