<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List Page</title>
</head>
<body>
<h1>Category management</h1>
<p>
    <button><a href="/blog/list" style="text-decoration: none; color: black">Back</a></button>
    <button><a href="/category/create" style="text-decoration: none">Add new category</a></button>
</p>
<hr>
<p th:text="${mess}"></p>
<table border="1">
    <tr>
        <th>N.o</th>
        <th>Name</th>
        <th>Blog</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <tr th:each="x,y : ${categoryList}">
        <td th:text="${y.count}"></td>
        <td th:text="${x.getName()}"></td>
        <td th:text="${x.getListBlogsAccordingToCategory()}"></td>
        <td><button><a th:href="@{/category/edit-category/__${x.getId()}__}">Edit</a></button></td>
        <td><button><a th:href="@{/category/delete-category/__${x.getId()}__}">Delete</a></button></td>
    </tr>

</table>

</body>
</html>