<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>BLOG</title>
</head>
<body>

<h3>Create blog</h3>

<a th:href="@{/}">Back to blog list</a>

<form th:action="@{/save}" th:method="post" th:object="${blog}">
    <table>
        <tr>
            <td>Title:</td>
            <td><input type="text" th:field="*{title}"/></td>
        </tr>

        <tr>
            <td>Writer:</td>
            <td><input type="text" th:field="*{writer}"/></td>
        </tr>

        <tr>
            <td>Category:</td>
            <td>
                <input type="text" th:field="*{category}"/>
            </td>
        </tr>

        <tr>
            <td>Date:</td>
            <td>
                <input type="date" th:field="*{dateCreated}"/>
            </td>
        </tr>

        <tr>
            <td>Content:</td>
            <td><textarea th:field="*{content}"></textarea></td>
        </tr>
    </table>

    <button type="submit">Save</button>
</form>
</body>
</html>