<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>BLOG</title>
</head>
<body>

<h3>Delete blog</h3>

<a th:href="@{/}">Back to blog list</a>

<form th:action="@{/delete}" th:method="post" th:object="${blog}">
    <table>
        <tr>
            <td><input type="hidden" th:field="*{id}" readonly/></td>
        </tr>

        <tr>
            <td>Title:</td>
            <td><input type="text" th:field="*{title}" readonly/></td>
        </tr>

        <tr>
            <td>Writer:</td>
            <td><input type="text" th:field="*{writer}" readonly/></td>
        </tr>

        <tr>
            <td>Category:</td>
            <td>
                <input type="text" th:field="*{category}">
            </td>
        </tr>

        <tr>
            <td>Date:</td>
            <td>
                <input type="date" th:field="*{dateCreated}" readonly/>
            </td>
        </tr>

        <tr>
            <td>Content:</td>
            <td><textarea th:field="*{content}" readonly></textarea></td>
        </tr>
    </table>

    <button type="submit">Delete</button>
</form>
</body>
</html>