<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>BLOG</title>
</head>
<body>

<h2>Blog list</h2>

<a th:href="@{/add}">Add new</a><br><br>

<form>
    <input placeholder="Search by Title..." name="search" type="text"/>
    <input type="submit" value="Search"/>
</form>

<p style="color: green" th:text="${mess}"></p>

<table border="1" cellpadding="10">
    <tr>
        <th>#</th>
        <th>Title</th>
        <th>Writer</th>
        <th>Content</th>
        <th>Date Created</th>
        <th>Category</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>View</th>
    </tr>

    <tr th:each="blog, status : ${blogList}">
        <td th:text="${status.count}"></td>
        <td th:text="${blog.title}"></td>
        <td th:text="${blog.writer}"></td>
        <td th:text="${blog.content}"></td>
        <td th:text="${blog.dateCreated}"></td>
        <td th:text="${blog.category}"></td>
        <td><a th:href="@{/edit/__${blog.id}__}">edit</a></td>
        <td><a th:href="@{/delete/__${blog.id}__}">delete</a></td>
        <td><a th:href="@{/view/__${blog.id}__}">view</a></td>
    </tr>
</table>
</body>
</html>