<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>BLOG</title>
</head>
<body>

<h2>Blog</h2>

<a th:href="@{/}">Back to blog list</a>

<div th:object="${blog}">
    <h3 th:text="${blog.title}"></h3>

    <span>Tác giả: </span><span th:text="${blog.writer}"></span><br>
    <span>Thể loại: </span>
    <span th:text="${blog.category}"></span>
    <br>
    <span>Ngày viết: </span><span th:text="${blog.dateCreated}"></span><br>

    <h4>Nội dung:</h4>
    <p th:text="${blog.content}"></p>
</div>
</body>
</html>