<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create</title>
</head>
<body>
<h1>Welcome to Songs of mine!</h1>

<hr>
<div>
    <button><a href="/song/create" style="text-decoration: none">Add new song</a></button>
</div>
<p th:text="${mess}"></p>
<table border="1">
    <tr>
        <th>N.o</th>
        <th>Name</th>
        <th>Performer</th>
        <th>Genre</th>
        <th>Edit</th>
    </tr>
    <tr th:each="x,y : ${songList}">
        <td th:text="${y.count}"></td>
        <td th:text="${x.getName()}"></td>
        <td th:text="${x.getPerformer()}"></td>
        <td th:text="${x.getGenre()}"></td>
        <td><button><a th:href="@{/song/edit-song/__${x.getId()}__}">Edit</a></button></td>
    </tr>
</table>
</body>
</html>