<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>

    <style>
        a {
            text-decoration: none;
            color: blue;
        }
    </style>

</head>
<body>
<marquee th:bgcolor="AntiqueWhite">HOME</marquee>
<div style="text-align:center">
    <button><a th:href="@{customer/list}">Customer Management</a></button>
    <button><a th:href="@{facility/list}">Facility Management</a></button>
    <button><a th:href="@{contract/list}">Contract Management</a></button>
</div>
<button style="float: right">
    <a style="text-decoration: none; color: red" th:href="@{/loginPage}">Login</a>
</button>

<hr>
</body>
</html>
