<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>

    <style>
        a {
            text-decoration: none;
            color: blue;
        }
    </style>

</head>
<body>
<h1>Home Page</h1>
<button><a th:href="@{customer/list}">Customer Management</a></button>
<button><a th:href="@{facility/list}">Facility Management</a></button>
<button><a th:href="@{contract/list}">Contract Management</a></button>

<button style="float: right">
    <a style="text-decoration: none; color: red" th:href="@{/logout}">Log out</a>
</button>

<hr>
</body>
</html>
